*{
	font-family: 'Rubik 80s Fade', cursive;
	margin: 0;
	padding: 0;
}

/*TOP BANNER*/
#banner_logo {
	width: 20%;
	height: 30%;
	object-fit: cover;
	position: absolute;
	transform: translate(-500%, 10%);
	z-index: 15;
}

h1 {
	color: #EEEDE7;
	position: absolute;
	font-size: 50px;
	z-index: 11;
	transform: translate(0, 300%);

}

#top_banner p {
	position: absolute;
	transform: translate(0, 900%);
	z-index: 12;
	background-color: #EEEDE7;
	padding: 30px;
	border-radius: 20px;
}

#banner_image {
	width: 100%;
	position: relative;
}

#banner_user_icon {
	width: 3%;
	position: absolute;
	transform: translate(10px);

}

#banner_menu_icon {
	width: 3%;
	position: absolute;
	transform: translate(1000%, -5000%);
	z-index: 5
}

.cards {
	display: flex;
	justify-content: space-evenly;
}

.place {
	width: 550px;
	height: 550px;
	border-radius: 20px;
	object-fit: cover;
}

p {
	font-size: 150%;
	color: black;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
	line-height: 40px;
}

#second_banner_image {
	width: 100%;
	position: relative;
}

#second_banner {
	display: flex;
	position: relative;
}

#second_banner h2 {
	position: absolute;
	font-size: 60px;
	transform: translate(0, 100%);
}

#second_banner h3 {
	position: absolute;
	font-size: 50px;
	transform: translate(0, 200%);
}

#second_banner p {
	position: absolute;	
	font-size: 30px;
	background-color: #EEEDE7;
	border-radius: 20px;
	padding: 20px;
	transform: translate(0, 500%);
}